/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;

}

.container {
  padding: 16px 16px;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.form-container {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.form-container > * {
  width: 100%;
}
